<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>


    <form action="" class="chatbotForm">
        <input type="text" class="chatbotInput">
    </form>


    <script>
        const form = document.querySelector("chatbotForm")
        const input = document.querySelector("chatbotInput")

        const OpenAI = require("openai");
        require("dotenv").config();

        const openai = new OpenAI({
            apiKey: process.env.OPENAI_API_KEY,
        });

        exports.chatReq = async (req, res) => {
            try {
                const message = "Which is the capital of Albania?";
                const response = await openai.chat.completions.create({
                    model: "gpt-3.5-turbo",
                    messages: [{ role: "user", content: message }],
                    temperature: 0,
                    max_tokens: 1000,
                });
                res.status(200).json(response);
            } catch (err) {
                res.status(500).json(err.message);
            }
        };

    </script>

</body>

</html>